In [4]:

import nltk
import pandas as pd
import string
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.util import ngrams
from collections import Counter

# Load the dataset from a CSV file
df = pd.read_csv('ner_datasetreference.csv', encoding='ISO-8859-1')
df

          Sentence #           Word  POS Tag
0        Sentence: 1      Thousands  NNS   O
1                NaN             of   IN   O
2                NaN  demonstrators  NNS   O
3                NaN           have  VBP   O
4                NaN        marched  VBN   O
...              ...            ...  ...  ..
1048570          NaN           they  PRP   O
1048571          NaN      responded  VBD   O
1048572          NaN             to   TO   O
1048573          NaN            the   DT   O
1048574          NaN         attack   NN   O

[1048575 rows x 4 columns]

In [6]:
df['clean_text']=df['Word'].str.lower()

In [7]:
df

          Sentence #           Word  POS Tag     clean_text
0        Sentence: 1      Thousands  NNS   O      thousands
1                NaN             of   IN   O             of
2                NaN  demonstrators  NNS   O  demonstrators
3                NaN           have  VBP   O           have
4                NaN        marched  VBN   O        marched
...              ...            ...  ...  ..            ...
1048570          NaN           they  PRP   O           they
1048571          NaN      responded  VBD   O      responded
1048572          NaN             to   TO   O             to
1048573          NaN            the   DT   O            the
1048574          NaN         attack   NN   O         attack

[1048575 rows x 5 columns]

In [8]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
def remove_punctuations(text):
    punctuations=string.punctuation
    return text.translate(str.maketrans('','', punctuations))

In [11]:
df['clean_text']=df['clean_text'].apply(lambda x:  remove_punctuations(x))
df.head()

    Sentence #           Word  POS Tag     clean_text
0  Sentence: 1      Thousands  NNS   O      thousands
1          NaN             of   IN   O             of
2          NaN  demonstrators  NNS   O  demonstrators
3          NaN           have  VBP   O           have
4          NaN        marched  VBN   O        marched

In [12]:
" ".join(stopwords.words('english'))

"i me my myself we our ours ourselves you you're you've you'll you'd your yours yourself yourselves he him his himself she she's her hers herself it it's its itself they them their theirs themselves what which who whom this that that'll these those am is are was were be been being have has had having do does did doing a an the and but if or because as until while of at by for with about against between into through during before after above below to from up down in out on off over under again further then once here there when where why how all any both each few more most other some such no nor not only own same so than too very s t can will just don don't should should've now d ll m o re ve y ain aren aren't couldn couldn't didn didn't doesn doesn't hadn hadn't hasn hasn't haven haven't isn isn't ma mightn mightn't mustn mustn't needn needn't shan shan't shouldn shouldn't wasn wasn't weren weren't won won't wouldn wouldn't"

In [13]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    punctuations=string.punctuation
    return " ".join([word for word in text.split()if word not in STOPWORDS])

In [14]:
df['clean_text']=df['clean_text'].apply(lambda x:  remove_stopwords(x))
df.head()

    Sentence #           Word  POS Tag     clean_text
0  Sentence: 1      Thousands  NNS   O      thousands
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O  demonstrators
3          NaN           have  VBP   O
4          NaN        marched  VBN   O        marched

In [ ]:
#Removal of frequent words
from collections import Counter
word_count=Counter()
for text in df['clean_text'].values:
    for word in text.split():
        word_count[text]+=1
word_count.most_common(10)

In [ ]:
FREQUENT_WORDS = set(word for(word,wc)in  word_count.most_common(3))
def  remove_freq_words(text):
    
    return " ".join([word for word in text.split()if word not in FREQUENT_WORDS])

In [72]:
df['clean_text']=df['clean_text'].apply(lambda x:  remove_freq_words(x))
df.head()

    Sentence #           Word  POS Tag     clean_text stemmed_text
0  Sentence: 1      Thousands  NNS   O      thousands     thousand
1          NaN             of   IN   O                          of
2          NaN  demonstrators  NNS   O  demonstrators     demonstr
3          NaN           have  VBP   O                        have
4          NaN        marched  VBN   O        marched        march

In [52]:
#remove special character
import re
def  remove_spl_chars(text):
     text = re.sub(r"[^a-zA-Z0-9]", " ", text)
     text = re.sub("\s+", " ", text)
     return text

In [75]:
df['clean_text']=df['clean_text'].apply(lambda x:  remove_spl_chars(x))

In [54]:
#stemming
from nltk.stem import PorterStemmer
ps= PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [ ]:
df['stemmed_text']=df['clean_text'].apply(lambda x:  stem_words(x))
df.head()

In [ ]:
#lemmitization
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()
wordnet_map={"N":wordnet.NOUN,"V":wordnet.VERB,"J":wordnet.ADJ,"R":wordnet.ADV}
def lemmatize_words(text):
    pos_text=pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word,wordnet_map.get(pos[0],wordnet.NOUN)) for word ,pos in pos_text])

In [ ]:
wordnet.NOUN

In [98]:
df['lemmatized_words']=df['clean_text'].apply(lambda x:  lemmatize_words(x))
df.head()

,Sentence #,Word,POS,Tag,clean_text,stemmed_text,lemmatizeD_words,lemmatized_words
0,Sentence: 1,Thousands,NNS,O,thousands,thousand,thousand,thousand
1,NaN,of,IN,O,,,,
2,NaN,demonstrators,NNS,O,demonstrators,demonstr,demonstrator,demonstrator
3,NaN,have,VBP,O,,,,
4,NaN,marched,VBN,O,marched,march,march,march

In [109]:
import nltk
import pandas as pd
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.util import ngrams
from collections import Counter

# Load the dataset from a CSV file
data = pd.read_csv('ner_datasetreference.csv', encoding='ISO-8859-1')

# Access specific columns
sentences = data['Sentence #'].tolist()
pos = data['POS'].tolist()
tag = data['Tag'].tolist()
words = data['Word'].tolist()

# Limit the number of sentences for processing
sentences = sentences[:10]

# Preprocessing: Clean each sentence
cleaned_sentences = []
for sentence in sentences:
    words_in_sentence = [word for word in words if str(word) != 'nan' and str(sentence) in str(word)]
    cleaned_sentence = ' '.join(words_in_sentence)
    cleaned_sentences.append(cleaned_sentence)

# Perform stemming
stemmer = PorterStemmer()
stemmed_sentences = [[stemmer.stem(word) for word in word_tokenize(sentence.lower())] for sentence in cleaned_sentences]

# Calculate n-grams for Named Entity Recognition
n = 3
all_ngrams = []
for sentence in stemmed_sentences:
    all_ngrams.extend(ngrams(sentence, n))

# Calculate probabilities of n-grams for Named Entity Recognition
ngram_counter = Counter(all_ngrams)
total_ngrams = sum(ngram_counter.values())
probabilities = {ngram: count / total_ngrams for ngram, count in ngram_counter.items()}

# Print probabilities for the processed sentences
for i, (ngram, prob) in enumerate(probabilities.items()):
    print(f"n-gram: {ngram}, Probability: {prob}")
    if i >= 9:
        break
# Update the probabilities in the dataset
for i, (ngram, prob) in enumerate(probabilities.items()):
    data.loc[i, 'Probability'] = prob
    if i >= 9:
        break
df.head()

n-gram: ('lieuten', 'pregnant', 'pregnanc'), Probability: 0.0011001100110011
n-gram: ('pregnant', 'pregnanc', 'financ'), Probability: 0.0011001100110011
n-gram: ('pregnanc', 'financ', 'remnant'), Probability: 0.0011001100110011
n-gram: ('financ', 'remnant', 'remnant'), Probability: 0.0011001100110011
n-gram: ('remnant', 'remnant', 'adnan'), Probability: 0.0011001100110011
n-gram: ('remnant', 'adnan', 'fernando'), Probability: 0.0011001100110011
n-gram: ('adnan', 'fernando', 'financ'), Probability: 0.0011001100110011
n-gram: ('fernando', 'financ', 'financi'), Probability: 0.0011001100110011
n-gram: ('financ', 'financi', 'financ'), Probability: 0.005500550055005501
n-gram: ('financi', 'financ', 'financ'), Probability: 0.0121012101210121

,Sentence #,Word,POS,Tag,clean_text,stemmed_text,lemmatizeD_words,lemmatized_words
0,Sentence: 1,Thousands,NNS,O,thousands,thousand,thousand,thousand
1,NaN,of,IN,O,,,,
2,NaN,demonstrators,NNS,O,demonstrators,demonstr,demonstrator,demonstrator
3,NaN,have,VBP,O,,,,
4,NaN,marched,VBN,O,marched,march,march,march